* {
    font-family: "roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-bg {
    background-color: #1F2937;
    color: #F9FAF8;
}

.light-bg {
    background-color: #ffffff;
    color: #1F2937;
}

.section {
    display: flex;
    padding: 1% 12% 5%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-basis: auto
}

#logo {
    font-size: 24px;
    font-weight: 700;
}

#hero-text {
    font-size: 48px;
    font-weight: 900;
}

.vertical {
    flex-direction: column;
    justify-content: center;
}

.between {
    justify-content: space-between;
}

#header-link {
    flex-basis: 400px;
}

#image {
    background-color: #686a6d;
    flex-basis: 600px;
    height: 200px;
}

.center {
    justify-content: center;
    align-items: center;
}

#hero {
    margin-top: 120px;
}

#small {
    width: 400px;
}

.blue {
    background-color: #3882F6;
    color: #F9FAF8;
}

#button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}