* {
    font-family: "roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-bg {
    background-color: #1F2937;
    color: #F9FAF8;
}

.light-bg {
    background-color: #ffffff;
    color: #1F2937;
}

.grey {
    color: #E5E7EB;
}

.section {
    display: flex;
    padding: 1% 12% 5%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-basis: auto
}

#logo {
    font-size: 24px;
    font-weight: 700;
}

#hero-text,
.bold {
    font-size: 48px;
    font-weight: 900;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.between {
    justify-content: space-between;
}

#header-link {
    flex-basis: 400px;
}

#image {
    background-color: #686a6d;
    flex-basis: 600px;
    height: 200px;
}

.center {
    justify-content: center;
    align-items: center;
}

#hero {
    margin-top: 120px;
}

#small {
    width: 400px;
}

.blue {
    background-color: #3882F6;
    color: #F9FAF8;
}

#button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}

.placeholder {
    border-style: solid;
    border-color: #3882F6;
    border-width: 6px;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}

#info-header,
#quote-attribution {
    margin: 2%;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-box {
    width: 170px;
}

.info-section,
.quote-section {
    width: 70%;
}

.text-center {
    text-align: center;
}

.subtext {
    font-size: 18px;
}

.quote {
    background-color: #E5E7EB;
    padding: 4% 10%;
    margin: 0;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.text-end {
    text-align: end;
}

#call-to-action {
    min-width: 65%;
    min-height: 140px;
    align-items: center;
    padding: 2% 6%;
    margin: 4% 10%;
    border-radius: 10px;
}

#signup {
    border: 2px solid white;
    min-width: 12%;
    padding: 1%;
    border-radius: 5px;
}

.medium {
    font-size: 24px;
    font-weight: 800;
}

#footer {
    padding: 2%;
    text-align: center;
}