* {
    font-family: "roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-bg {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section {
    display: flex;
    padding: 1% 4%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-basis: auto
}

#logo {
    font-size: 24px;
    font-weight: 700;
}

#hero-text {
    font-size: 48px;
    font-weight: 900px;
}

.vertical {
    flex-direction: column;
    justify-content: center;
}

.between {
    justify-content: space-between;
}

#header-link {
    flex-basis: 400px;
}